/*
Theme name: Office Theme
Author: Nasir
*/
.navbar-default .navbar-nav > .current_page_item > a, .navbar-default .navbar-nav > .current_page_item > a:hover, .navbar-default .navbar-nav > .current_page_item > a:focus {
  background-color: #6baaa8;
  color: #fff;
}
.current_page_item {
  background: #74b9b9 none repeat scroll 0 0 !important;
  color: white;
}
.services-row-1 {
  margin-top: -30px;
}
.services-group {
  margin-top: 30px;
}
.screen-reader-text {
  display: none;
}
.nav-links {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}
.nav-links .page-numbers {
  border-left: 1px solid #ddd;
  display: block;
  float: left;
  line-height: 35px;
  text-align: center;
  width: 35px;
  background: #fff;
}
.blog-title a {
  color: #385a30;
}
.page_area {
  padding: 50px 0px;
}
h2.page_title{
  text-align: center;
}
.content{
   background: #efefef;
   padding: 10px;
}
.form-control.textarea-height {
  height: 118px;
}
img{max-width: 100%}